* {
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #4ccfb9;
}

@media screen and (max-width: 500px) {
    body {
        background-color: #5a69e8;
    }
}

h1 {
    text-align: center;
    text-decoration: underline;
}

video {
    display: block;
    margin: auto;
    position: relative;
}

h3 ~ div {
    display: inline-block;
    position: static;
}


section {
    border-style: dashed;
    border-color: rgb(90,110,98);
    border-width: 0.4ch;
    border-radius: 1cm;
    padding: 0.5% 1% 0.5% 1%;
    background-color: hsl(145,41%,86%);
    min-width: 400px;
    height: 80%;
}

ul li {
    color: purple;
}

section > h2 {
    text-align: right;
    padding-top: 0.5em;
    padding-right: 0.6em;
    padding-bottom: 0.02em;
    padding-left: 0.2em;
    margin-top: 3mm;
    margin-right: 0mm;
    margin-bottom: 1mm;
    margin-left: 0mm;
}

div.diary-content {
    margin: 10px 10px 10px 10px;
}

nav > a {
    margin-left: 10px;
    margin-right: 10px;
}

nav > a:hover {
    color: red;
}

nav > a:active {
    color: #f55656;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

[href="#day3"] {
    font-weight: 1000;
}

summary + p {
    color: green;
    width: 50%;
    margin: auto;

}

